@import "./base/reset.scss";
@import "./base/variables.scss";
@import "./base/functions.scss";

@import "./components/buttons.scss";

@import "./layout/gallery.scss";

body {
  padding: 3rem;

  font-family: "Lato", sans-serif;
  font-size: 1.6rem;

  background: $bg;
  color: $text;

  header {
    @include flexCenter(space-between, row);

    .cart {
      :before {
        content: attr(data-count);
      }
    }
  }

  main {
    margin-top: 12.3rem;

    text-align: center;

    > p {
      text-transform: uppercase;

      margin-bottom: 4rem;

      .collection-name {
        transition: all 400ms;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    header {
      @include flexCenter(space-between, column);

      * {
        margin-bottom: 6rem;
      }

      img {
        width: min(80%, 34.1rem);
      }
    }

    main {
      margin-top: calc(12.3rem / 2);
    }
  }
}
