@import "../base/variables.scss";
@import "../base/functions.scss";

.gallery {
  @include flexCenter(center, column);
  gap: 5rem;

  .col-a,
  .col-b {
    @include flexCenter(center, row);
    gap: 18rem;

    flex-wrap: wrap;
  }

  .gallery-item {
    @include flexCenter(center, column);

    span {
      font-family: "Inconsolata", monospace;

      text-transform: lowercase;
      line-height: 1.5;
    }

    #price {
      &::after {
        content: attr(data-price);
      }
    }

    .gallery-img-container {
      margin-bottom: 4rem;

      .gallery-img {
        width: min(50vw, 25rem);

        @include grayFilter(0, 500%, 0);

        cursor: pointer;

        transition: all 400ms;

        &:hover {
          @include grayFilter(0, 500%, 0.5rem);
        }
      }

      &::before {
        content: "ADD TO CART +";
        position: absolute;
        z-index: 99;
        margin-left: 7.5rem;
        margin-top: 11.5rem;

        opacity: 0;

        transition: opacity 600ms linear;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}

.colorful {
  main {
    > p {
      .collection-name {
        color: $collection;
      }
    }
  }

  .gallery-item {
    .gallery-img-container {
      .gallery-img {
        @include grayFilter(100%, 100%, 0);

        &:hover {
          @include grayFilter(100%, 100%, 0.5rem);
        }
      }
    }
  }
}

@media (max-width: 1186px) {
  .gallery {
    .col-a,
    .col-b {
      gap: 6rem;
    }
  }
}
