@import "../base/variables.scss";
@import "../base/functions.scss";

.offcanvas {
  overflow-y: scroll;
  visibility: hidden;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;

  height: 100%;
  width: min(50%, 40rem);

  padding: 2rem;

  background: #040404;

  text-transform: uppercase;

  &::-webkit-scrollbar {
    display: none;
  }

  .offcanvas-content {
    height: 98%;

    .close-button {
      .close-button-img {
        position: absolute;
        cursor: pointer;

        transition: stroke 200ms;
        &:hover {
          stroke: $collection;
        }
      }
    }

    .total-items {
      text-align: center;
    }

    .cart-item-container {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      .cart-empty {
        height: 100vh;

        @include flexCenter(center, row);

        &.not-visible {
          display: none;
        }
      }

      .cart-item {
        @include flexCenter(space-between, row);
        flex-wrap: wrap;

        font-family: "Inconsolata", monospace;

        text-transform: lowercase;

        .cart-hero {
          @include flexCenter(center, row);

          .remove-button {
            .remove-button-img {
              cursor: pointer;

              transition: stroke 200ms;
              &:hover {
                stroke: $collection;
              }
            }
          }

          .cart-img {
            width: 10rem;

            margin-inline: 2rem;
          }
        }

        #price {
          &::after {
            content: attr(data-price);
          }
        }

        &:first-child {
          margin-top: 4rem;
        }
      }
    }

    .subtotal {
      @include flexCenter(space-between, row);

      font-family: "Inconsolata", monospace;
      text-transform: lowercase;

      margin-top: 4rem;

      .cart-price {
        @include setDataContentAfter(data-cart-price);
      }
    }

    .checkout {
      display: none;

      .checkout-button {
        width: 100%;
        height: 5rem;

        @include flexCenter(center, row);

        margin-top: 4rem;

        cursor: pointer;

        transition: color 200ms, border-color 200ms;

        border: 1px solid $text;
        border-radius: 0.5rem;

        &:hover {
          color: $collection;
          border-color: $collection;
        }
      }

      &.active {
        display: block;
      }
    }
  }

  &.active {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .offcanvas {
    width: 100%;
  }
}
