@import "../base/variables.scss";
@import "../base/functions.scss";

.offcanvas {
  visibility: hidden;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;

  height: 100%;
  width: min(50%, 40rem);

  padding: 2rem;

  background: #040404;

  .offcanvas-content {
    .close-btn {
      cursor: pointer;

      transition: stroke 200ms;

      &:hover {
        stroke: $collection;
      }
    }
  }

  &.active {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .offcanvas {
    width: 100%;
  }
}
