@mixin flexCenter($justify-content, $flex-direction) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin grayFilter($saturate, $brightness, $blur) {
  filter: saturate($saturate) brightness($brightness) blur($blur);
}
