@mixin flexCenter($justify-content, $flex-direction) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin grayFilter($blur) {
  filter: grayscale(100%) brightness(500%) blur($blur);
}
